<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="main">
    <div class="cards">
        <div class="card">
            <div class="card-content">
                <div class="number">1217</div>
                <div class="card-name">Candidats</div>
            </div>
            <div class="icon-box">
                <i class='bx bxs-user-check' ></i>           
             </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number">20</div>
                <div class="card-name">Concours-actif</div>
            </div>
            <div class="icon-box">
                <i class='bx bx-check-circle' ></i>  
             </div>

        </div>
        <div class="card">
            <div class="card-content">
                <div class="number">1217</div>
                <div class="card-name">Concours-terminé</div>
            </div>
            <div class="icon-box">
                <i class='bx bx-check-circle' ></i>           
             </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="number">5</div>
                <div class="card-name">Inscription en attente</div>
            </div>
            <div class="icon-box">
                <i class='bx bx-loader' ></i>  
            </div>
        </div>
    </div>
    <div class="charts">
        <div class="chart">
            <h2>le nombre de candidats inscrits</h2>
            <canvas id="barre"></canvas>
        </div>
        <div class="chart" id="doughnut-chart">
            <h2>le nombre des inscriptions</h2>
            <canvas id="circle"></canvas>

        </div>
    </div>

</div>
