
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter Concours</title>
</head>
<body>
  <div class="container">
    <header>Ajouter Concours</header>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form first">
        <div class="details personal">
          <span class="title">Informations du Concours</span>
          <div class="fields">
            <div class="input-field">
              <label>Nom du concours</label>
              <input type="text" formControlName="nom" required>
            </div>
            <div class="input-field">
              <label>Description</label>
              <input type="text" formControlName="description" required>
            </div>
            <div class="input-field">
              <label>Exigences Techniques</label>
              <input type="text" formControlName="type" required>
            </div>
            <div class="input-field">
              <label>Nombre de participants</label>
              <input type="number" formControlName="nombreDeParticipants" required>
            </div>
            <div class="input-field">
              <label>Nombre de places</label>
              <input type="number" formControlName="nombreDePlaces" required>
            </div>
            <div class="input-field">
              <label>Frais d'inscription</label>
              <input type="number" formControlName="fraisDInscription" step="0.01" required>
            </div>
            <div class="input-field">
              <label>Niveau Requis</label>
              <input type="text" formControlName="règles" required>
            </div>
            <div class="input-field">
              <label>Lieu</label>
              <input type="text" formControlName="lieu" required>
            </div>
            <div class="input-field">
              <label>Date limite de postulation</label>
              <input type="date" formControlName="dateDeDebut" required>
            </div>
            <div class="input-field">
              <label>Date d'affichage

              </label>
              <input type="date" formControlName="dateDeFin" required>
            </div>
            <div class="input-field">
              <label>État</label>
              <i class='bx bx-list-ul'></i>
              <select formControlName="etat" required>
                   <option value="Terminé">Terminé</option>
                   <option value="En cours">En cours</option>
                    <option value="Pas encore">Pas encore</option>
                    </select>
             </div>

          </div>
        </div>
        <button class="ajouter-btn" type="submit">
          <i class="bx bx-plus"></i>
          Ajouter
        </button>
      </div>
    </form>
  </div>
  
  
</body>
</html>
