<table class="table table-hover table-center-text">
  <thead class="bg-white-text" style="background-color: #3C91E6;">
    <tr>
      <th scope="col">Nom</th>
      <th>Prenom</th>
      <th>Profession Actuelle</th>
      <th>Email</th>
      <th>Diplome Obtenu</th>
      <th>Specialité</th>
      <th>Statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidates">
      <td>{{ candidate.nom }}</td>
      <td>{{ candidate.prenom }}</td>
      <td>{{ candidate.profession }}</td>
      <td>{{ candidate.email }}</td>
      <td>{{ candidate.diplome }}</td>
      <td>{{ candidate.specialite }}</td>
      <td>{{ candidate.statut }}</td>
    </tr>
  </tbody>
</table>
