body{
  position:absolute;
  top:70px;
  width:1200px;
  left: 300px;
  min-height: calc(100vh - 60px);
  background: var(--light);
}
.btn{
  margin-right: 3px;
}
 td span{
  background-color: rgb(71, 14, 92);
}
#role{
  background-color: rgb(238, 7, 61);
}
