
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Table</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  
  
</head>
<body>
  <section class="container bg-light p-5">
    <header class="pb-2">Liste des Inscriptions</header>
    <div class="table-responsive">
      <table class="table table-hover table-center-text">
        <thead class="bg-white-text" style="background-color: #3C91E6;">
          <tr>
            <th scope="col">Nom</th>
            <th>Prenom</th>
            <th>Profession Actuelle</th>
            <th>Email</th>
            <th>Diplome Obtenu</th>
            <th>Specialité</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscription of inscriptions" (click)="viewInscription(inscription)">
            <td>{{inscription.nom}}</td>
            <td>{{inscription.prenom}}</td>
            <td>{{inscription.profession}}</td>
            <td>{{inscription.email}}</td>
            <td>{{inscription.diplome_obtenu}}</td>
            <td>{{inscription.specialite}}</td>
            <td [ngClass]="getClassForInscriptionStatus(inscription.statut)">
              {{inscription.statut}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>
