
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Table</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  
  
</head>
<body>
  <section class="bg-light p-5">
    <h3 class="pb-2">Liste des Concours</h3>
    <div class="table-responsive">
      <table class="table table-hover table-center-text">
        <thead class="bg-white-text" style="background-color: #3C91E6;">
          <tr>
            <th scope="col">Nom</th>
            <th>Prenom</th>
            <th>Profession Actuelle</th>
            <th>Email</th>
            <th>Diplome Obtenu</th>
            <th>Specialité</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <!-- I will just show four rows as per your request -->
          <tr>
            <td>Nom1</td>
            <td>Prenom1</td>
            <td>Profession1</td>
            <td>Email1@example.com</td>
            <td>Diplome1</td>
            <td>Specialite1</td>
            <td class="refused">En cours</td>
          </tr>
          <tr>
            <td>Nom2</td>
            <td>Prenom2</td>
            <td>Profession2</td>
            <td>Email2@example.com</td>
            <td>Diplome2</td>
            <td>Specialite2</td>
            <td class="processing">En cours </td>
          </tr>
          <tr>
            <td>Nom3</td>
            <td>Prenom3</td>
            <td>Profession3</td>
            <td>Email3@example.com</td>
            <td>Diplome3</td>
            <td>Specialite3</td>
            <td class="processing">En cours </td>
          </tr>
          <tr>
            <td>Nom1</td>
            <td>Prenom1</td>
            <td>Profession1</td>
            <td>Email1@example.com</td>
            <td>Diplome1</td>
            <td>Specialite1</td>
            <td class="done">En cours</td>
          </tr>
          <tr>
            <td>Nom2</td>
            <td>Prenom2</td>
            <td>Profession2</td>
            <td>Email2@example.com</td>
            <td>Diplome2</td>
            <td>Specialite2</td>
            <td class="refused">Refusé</td>
          </tr>
          <tr>
            <td>Nom3</td>
            <td>Prenom3</td>
            <td>Profession3</td>
            <td>Email3@example.com</td>
            <td>Diplome3</td>
            <td>Specialite3</td>
            <td class="processing">En cours</td>
          </tr>
          <tr>
            <td>Nom1</td>
            <td>Prenom1</td>
            <td>Profession1</td>
            <td>Email1@example.com</td>
            <td>Diplome1</td>
            <td>Specialite1</td>
            <td class="done">Accepté </td>
          </tr>
          <tr>
            <td>Nom2</td>
            <td>Prenom2</td>
            <td>Profession2</td>
            <td>Email2@example.com</td>
            <td>Diplome2</td>
            <td>Specialite2</td>
            <td class="done">Accepté</td>
          </tr>
          <tr>
            <td>Nom3</td>
            <td>Prenom3</td>
            <td>Profession3</td>
            <td>Email3@example.com</td>
            <td>Diplome3</td>
            <td>Specialite3</td>
            <td class="refused">Refusé</td>
          </tr>
          <tr>
            <td>Nom1</td>
            <td>Prenom1</td>
            <td>Profession1</td>
            <td>Email1@example.com</td>
            <td>Diplome1</td>
            <td>Specialite1</td>
            <td class="processing">En cours</td>
          </tr>
          <tr>
            <td>Nom2</td>
            <td>Prenom2</td>
            <td>Profession2</td>
            <td>Email2@example.com</td>
            <td>Diplome2</td>
            <td>Specialite2</td>
            <td class="refused">Refusé</td>
          </tr>
          <tr>
            <td>Nom3</td>
            <td>Prenom3</td>
            <td>Profession3</td>
            <td>Email3@example.com</td>
            <td>Diplome3</td>
            <td>Specialite3</td>
            <td class="done">Accepté</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>
