<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<section id="content">
  <nav>
      <i (click)="addToggle()" class='bx bx-menu'></i>
      <a href="#" class="nav-link">MEF Concours</a>
      <form action="#">
          <div class="form-input">
              <input type="search" placeholder="Search...">
              <button type="button" class="search-btn"><i class='bx bx-search'></i></button>
          </div>
      </form>
      <div style="position: relative">
        <div class="btn-group" dropdown>
          <a dropdownToggle class="dropdown-toggle" role="button" id="button-basic">
            <i class='bx bx-bell bx-tada-hover' id="notificationIcon"></i>
            <span class="badge rounded-pill badge-notification bg-danger" id="notificationBadge">1</span>
        </a>
        
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                  <a class="dropdown-item">
                      <div style="display: flex; justify-content: space-between; width: 100%;">
                          <span>Some news</span>
                          <span class="badge bg-success">Read</span>
                      </div>
                  </a>
              </li>
              <li role="menuitem">
                  <a class="dropdown-item">
                      <div style="display: flex; justify-content: space-between; width: 100%;">
                          <span>Another news</span>
                          <span class="badge bg-danger">Unread</span>
                      </div>
                  </a>
              </li>
              <li role="menuitem">
                  <a class="dropdown-item">
                      <div style="display: flex; justify-content: space-between; width: 100%;">
                          <span>Something else here</span>
                          <span class="badge bg-success">Read</span>
                      </div>
                  </a>
              </li>
          </ul>
          
        </div>
    </div>
    
      


    <div dropdown class="nav-item dropdown">
      <a dropdownToggle class="nav-link dropdown-toggle profile" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
          <a href="#" class="dropdown-item"><i class="fa fa-user"></i> Profile</a>
          <a href="#" class="dropdown-item"><i class="fa fa-calendar"></i> Calendar</a>
          <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
      </div>
  </div>
  
  </nav>
</section>
<script>




</script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
